<div class="container">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Misión</h1>
      <p><img class="img-fluid" src="../../../assets/images/grande-biblioteca.jpg" alt=""></p>
      <p class="lead" style="text-align: justify;"> <font face="" size=4>
        Proporcionar recursos y servicios documentales pertinentes, suficientes y de calidad para apoyar 
        las actividades formativas y de actualización de la enseñanza, investigación y difusión de la cultura 
        de alumnos, maestros e investigadores de todas las escuelas, facultades, centros e institutos de la ciudad de Quito,
         así como preservar su patrimonio documental.
        </font>
      </p>
    </div>
  </div>
  
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Visión</h1>
      <p><img class="img-fluid" src="../../../assets/images/foro.jpg" alt=""></p>
      <p class="lead" style="text-align: justify;"> <font size=4 >
        Estar al frente de las innovaciones tecnológicas que faciliten la accesibilidad, uso y manejo de los recursos documentales que resguarda.
        <br>
        Brindar servicios incluyentes adecuados y facilidades de acceso a la información a estudiantes con capacidades diferentes.
        <br>
        Estructurar y llevar a cabo, permanentemente, talleres de capacitación de usuarios para el conocimiento y manejo eficiente de los recursos documentales con que cuenta la biblioteca.
    </font>
    </p>
    </div>
  </div>
</div>
  
