<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background: #343a40; color:white">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase" style="color: whitesmoke;"></h5>
          <p><img width="250px" height="130px" src="../../../assets/images/logo-biblio.jpg" alt="logo-footer"></p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;">Desarrollado por:</h5>
          <p>Luis Velásquez</p>
          <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;">Contacto:</h5>
          <p>0983493042</p>
          <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;">E-mail:</h5>
          <p>luis.velasquez@epn.edu.ec</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#" style="color: whitesmoke;"> BibliotecaMunicipal.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->